.container {
  position: relative;
}
.button {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  border: 1px solid var(--primary-text-color);
  width: 100%;
  border-radius: 10px;
  padding: 7px;
  transition: all 0.5s;
  &:hover {
    background-color: var(--primary-text-color);
    color: var(--background-color);
    cursor: pointer;
  }
}
.spinnerContainer {
  display: none;
  overflow: hidden;
}
.pending {
  .button {
    color: var(--secondary-text-color);
    &:hover {
      background-color: var(--background-color);
      border: 1px solid var(--primary-text-color);
    }
    cursor: not-allowed;
    opacity: 0.8;
  }
  .spinnerContainer {
    display: inline;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    svg {
      width: 100%;
      height: 100%;
      animation: spin 1s infinite linear;
      fill: var(--primary-text-color);
    }
  }
  @keyframes spin {
    from {
      rotate: 0deg;
    }
    to {
      rotate: 360deg;
    }
  }
}
