.container {
  position: relative;
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  .heading {
    margin-top: 50px;
    font-size: 32px;
    text-align: center;
    line-height: 40px;
  }
  .formContainer {
    margin-top: 70px;
    width: 70%;
    max-width: 800px;
    min-width: 350px;
  }
  .textContainer {
    margin-top: 60px;
    font-size: 24px;
  }
  .buttonLinkContainer {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .termsContainer {
    display: flex;
    align-items: center;
    width: 90%;
    gap: 15px;
    .linksContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      @media screen and (max-width: 600px) {
        flex-direction: column;
        align-items: baseline;
      }
    }
    @media screen and (max-width: 900px) {
      flex-direction: column;
      align-items: baseline;
    }
  }
}
