.container {
  width: 100%;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .heading {
    width: 100%;
    text-align: center;
    font-size: 36px;
    margin-bottom: 60px;
  }
  .fieldsContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    .field {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 20px;
      white-space: nowrap;
      .fieldLabel {
        font-size: 24px;
      }
      .fieldValue {
        font-size: 24px;
        overflow-y: hidden;
        overflow-x: scroll;
        scrollbar-width: none;
        padding: 1%;
        max-width: 100%;
      }
      .iconContainer {
        overflow: hidden;
        display: none;
        cursor: pointer;
        width: 24px;
        height: 24px;
        svg {
          fill: var(--primary-text-color);
        }
      }
      &:hover {
        .iconContainer {
          display: block;
        }
      }
      @media screen and (max-width: 600px) {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: baseline;
      }
    }
    @media screen and (max-width: 600px) {
      width: 95%;
    }
  }
}
